* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-size: 15px;
    font-family: "Lexend Deca";
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(233, 47%, 7%);
}

.conteudo-principal {
    width: 1100px;
    height: 450px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px;
    margin-top: 50px;
    overflow: hidden;
    background-color: hsl(244, 38%, 16%);
}


.card-grande {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 60px;
}

.lado-info {
    width: 400px;

}

.foto {
    position: relative;
    width: 550px;
    height: 450px;
    background-image: url("images/image-header-desktop.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    filter: brightness(75%);
}

.textao-grandao {
    font-size: 36px;
    font-weight: 700;
    font-family: Inter;
    color: hsl(0, 0%, 100%);


}

.info-texto-menor {
    margin-top: 10px;
    line-height: 25px;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.561);

}

.destaque {
    color: #a95dd8;
}

.conteudo-estatistico {
    display: flex;
    margin-top: 60px;
    gap: 60px;



}

.numerico {
    font-size: 24px;
    color: hsl(0, 0%, 100%);
}

.sub-texto {
    font-size: 12px;
    letter-spacing: 1.5px;
    font-family: "Inter";
    text-transform: uppercase;
    margin-top: 6px;
    color: hsla(0, 0%, 100%, 0.6);
    font-weight: 400;
}
